body {
    background: url(../images/confetti.jpg);
    height: 50%;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
}

